*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'poppins',sans-serif;
}

body{
  background-color: #181818;
}

.contanier{
  width: 100%;
  min-height: 100vh;
  padding-left: 20px;
  display:flex;
  flex-wrap: wrap;
} 

.o img{
  width: 450px;
  border-radius: 5%;
  height: 450px;
  box-shadow: 5px 5px 20px black;
  transition: .5s;
  position: relative;
  margin-left: 20px; 
}
.o:hover
{
  cursor: pointer;
}
.o img:hover
{
  transform: scale(1.1) rotate(-3deg);
  
}

.card{
  background-color: #181818;
  margin-bottom: 30px;
  /* width: fit-content; */
}

.back-img{
  position: relative;
  z-index: -55;
}
.back-img img{
  width: 100%;
  height: 600px;
  margin-bottom: 30px;
}

.back-text{
  position: absolute;
  top: 170px;
  color: #fff;
  left: 31%;
  font-size: 42px;
  text-align: center;
}

.back-text h1{
  font-size: 100px;
  text-transform: uppercase;
}
