:root {
   --mint-green : #a2c1b3;
   --white: #fff;
   --light: #E8F5E9;
   --dark: #283847; 
   --ko7ly: #112233;
   --lighter-blue: #2d5173;
 }
body{
    background-color: var(--white) !important;
 }
.H1{
    color: var(--ko7ly);
   font-size: 60px;
} 


.H2{
    color: var(--ko7ly);
    font-size:30px;
    margin-left: 590px;
    margin-bottom: 90px;
  }

  
 .H3{
    color: var(--ko7ly);
    text-align: center;
    font-size:20px;
  }
  
  .H4{
    color: var(--ko7ly);
    margin-left: 65px;
    margin-bottom: 50px;
    font-size: 25px;
 
 }

 .H5{
    color: var(--ko7ly);
    margin-left: 65px;
    margin-bottom: 50px;
    font-size: 25px;
    margin-top: -160px;
 }

 
.photo1{
    width: 900px;
    height: 700x;
    margin-left: 320px;
    margin-bottom:20px ;
    position: relative;
    left: 250px;
    
  }

.photo2{
    width: 500px;
    height: 300px;
    position: relative;
    left: 800px;
    top: -200px;
}

.photo3{
   width: 480px;
    height: 300px;
    position: relative;
    left: 800px;
    top: -200px;
}
  
.Div1{ 
    margin-left: 700px;

   }
   .Div2{
      position: relative;
      left: -650px;
      top:200px;

   }

.paragraph{
   margin-left: 70px;
   margin-bottom: 50px;
   width: 90%;
   color: var(--lighter-blue);
}

.paragraph1{
    width: 50%;
    color: var(--lighter-blue);
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 20px;
}

   
.image {
	display: inline-block;
	text-align:center;
	width: 25%;
	float: left;
  margin: -90px;
  margin-left: 55px;
  margin-bottom: 50px;
  
}
figure {
	overflow: hidden;
	margin: 20px;
}
.image img {
	display: block;
	width: 100%;
	height: auto;
	cursor: pointer;
}
.image #zoom-In figure img {
	transform: scale(1);
	transition: 0.3s ease-in-out;
}
.image #zoom-In figure:hover img {
	transform: scale(1.5);
}